* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: #083b4c;
    --cellColor: #1389b2;
    --fizzColor: #0bd6a1;
    --buzzColor: #ffd166;
    --fizzBuzzColor: #f0466f;
}

body {
    background-color: var(--bgColor);
}

/* #region Little Framework */

.color_white {
    color: white;
}

.text_center {
    text-align: center;
}

.mt_3 {
    margin-top: 3rem;
}

.fs_3 {
    font-size: 3rem;
}

.d_flex {
    display: flex;
    flex-wrap: wrap;
}

/* #endregion */